.input-outlined {
    --border-color: #BAC7D5;
    --border-radius: 8px;
    --background: #EEEEEE;
    &.ios {
        border-radius: 8px;
        --padding-start: 16px;
        --padding-end: 16px;
        // border: 1px solid #BAC7D5;
    }


    &.sc-ion-input-md-h {
        --padding-top: 15px;

    }
}
::ng-deep .input-label-placement-floating.sc-ion-input-md-h .label-text-wrapper.sc-ion-input-md{
    -webkit-transform: translateY(0%) scale(1);
      transform: translateY(0%) scale(1);
  }
.cstm-input{
    @apply bg-[#EEEEEE] pl-4 pr-2 rounded-[8px] min-h-[44px] flex justify-between items-center border-[#BAC7D5] border;
}
.tag{
    @apply bg-white px-2 py-1 rounded-xl flex justify-between gap-2 text-sm font-roboto items-center;
    span{
        @apply leading-3;
    }
}
.card{
    background: url('/assets/imgs/card-light.jpg') no-repeat right bottom;
    background-size: cover;
    border-radius: 10px;
}