<ion-content [fullscreen]="true" class="bg-splash">
    <div class="w-full h-full  flex flex-col justify-between items-center">
        <div class="header-welcome flex justify-center w-full px-8 mt-6">
            <div class="flex justify-center items-center flex-col">
                <a routerLink="/">
                    <img src="./assets/imgs/moawen-logo.png" alt="moawen-logo" class="mb-4">
                </a>
                <span class="text-tahiti text-sm text-center w-full">{{ 'Your Bridge to Smarter Hiring' | translate }}</span>
            </div>
        </div>

        <div class="px-8 w-full mt-4">
            <div class="card w-full bg-tahiti p-4 rounded-xl">
                <div class="flex justify-between">
                    <h2 class="text-xl font-medium font-roboto">{{'Sign In' | translate}}</h2>
                    <app-language-switcher></app-language-switcher>
                </div>

                <form [formGroup]="form">
                    <div class="form mt-4">
                        <div class="relative">
                            <ion-input [label]="'Login' | translate" class="input-outlined"  
                                label-placement="floating" fill="outline" [formControl]="form.controls.qId"
                                (keydown)="restrictInput($event)" maxlength="11"></ion-input> 

                            <span class="absolute end-4 top-4 z-10">
                                <img src="/assets/imgs/icons/list-icon.png" alt="">
                            </span>
                        </div>

                        <ion-button color="success" class="btn-def uppercase text-lg mt-3" (click)="getOtp()"
                            [disabled]="form.invalid">
                            {{'GET OTP' | translate}}
                        </ion-button>

                        <p class="text-[#252A31] font-roboto mt-4 font-normal">
                            {{'Enter the OTP code sent to your phone here' | translate}}
                        </p>

                        <div class="my-2">
                            <ng-otp-input class="custom-otp-field" fill="outline" (onInputChange)="onOtpChange($event)"
                                [config]="config">
                            </ng-otp-input>
                        </div>

                        <ion-button color="success" class="btn-def capitalize text-lg w-full" (click)="onSubmit()"
                            [disabled]="form.invalid"> 
                            {{'Sign In' | translate}}
                        </ion-button>

                        <a routerLink="/register"
                            class="w-full text-center text-white mx-auto block underline text-base font-normal font-roboto">
                             
                            <span class="font-medium">{{'Sign Up' | translate}}</span>
                        </a>
                    </div>
                </form>
            </div>
        </div>

        <div class="footer-welcome mb-6">
            <div class="our-comps flex flex-row items-center justify-around mt-8 mb-4 gap-3">
                <a href="" target="_blank">
                    <img src="./assets/imgs/mol-logo.png" alt="">
                </a>

                <a href="" target="_blank" class="self-end">
                    <img src="./assets/imgs/jusour-logo.png" alt="">
                </a>
            </div>

            <ul class="flex gap-4 mb-4">
                <li>
                    <a href="" class="text-xs text-white flex gap-1 underline font-roboto items-center">
                        <span class="icon-f">
                            <img src="/assets/imgs/icons/about.png" alt="">
                        </span>
                        {{'About Moawen' | translate}}
                    </a>
                </li>

                <li>
                    <a href="" class="text-xs text-white flex gap-1 underline font-roboto items-center">
                        <span class="icon-f">
                            <img src="/assets/imgs/icons/contact.png" alt="">
                        </span>
                        {{'Contact Us' | translate}} 
                    </a>
                </li>

                <li>
                    <a href="" class="text-xs text-white flex gap-1 underline font-roboto items-center">
                        <span class="icon-f">
                            <img src="/assets/imgs/icons/assisatance.png" alt="">
                        </span> 
                        {{'For Assistance' | translate}} 
                    </a>
                </li>
            </ul>

            <p class="text-center text-white text-xs font-roboto font-normal mb-3"> 
                {{'All rights reserved maowen' | translate}} 
            </p>
        </div>
    </div>
</ion-content>