<ion-header class="ion-no-border">
  <ion-toolbar class="ion-header-white" style="--background: #fff; --border-color: #fff;">
    <!-- <ion-title class="text-center ">YOUR PROFILE</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="searchForm">
    <div class="grid grid-cols-1 gap-5 h-full w-full bg-slate-50 p-4 content-start overflow-auto">
      <div>
        <div class="mb-2">Hello,</div>
        <div class="text-secondary font-semibold font-roboto text-lg">Meet Your Match: <span
            class="block text-primary font-medium text-base">Effortless Recruitment Begins
            Here</span></div>
      </div>
      <div>
        <ion-select label="Select  Nationality" formControlName="nationality" multiple="true" label-placement="floating"
          fill="outline" class="input-outlined">
          @for(item of nationalities; track item.name){
          <ion-select-option [value]="item?.slug"> {{item?.name}}</ion-select-option>
          }
        </ion-select>
      </div>
      <div>
        <ion-select label="Select Gender" formControlName="gender" interface="popover" label-placement="floating"
          multiple="true" fill="outline" class="input-outlined">
          <ion-select-option value="male">Male</ion-select-option>
          <ion-select-option value="female">Female</ion-select-option>
        </ion-select>
      </div>
      <div>
        <ion-select label="Select Profession" formControlName="profession" interface="popover"
          label-placement="floating" multiple="true" fill="outline" class="input-outlined">
          <ion-select-option value="driver">Driver</ion-select-option>
          <ion-select-option value="domestic_worker">Domestic Worker</ion-select-option>
        </ion-select>
      </div>
      <div>
        <ion-select label="Select Visa Permit" interface="popover" label-placement="floating" fill="outline"
          class="input-outlined">
          <ion-select-option value="apple">NA</ion-select-option>
        </ion-select>
      </div>
      <div>
        <div class="cstm-input">
          <label for="">Advanced Search</label>
          <div class="bg-white px-2  rounded h-8 flex items-center justify-between text-xl" id="open-modal"
            expand="block">
            <ion-icon name="options"></ion-icon>
          </div>
        </div>
      </div>

      <!-- Section to display selected items -->
      <div>
        <div class="cstm-input">
          <div class="flex gap-1 flex-wrap">

            <div class="tag" *ngIf="getSelectedValues('age')[0]">
              <span>Age: {{ getSelectedValues('age')[0] }}</span>
              <ion-icon name="close" (click)="removeSelected('age', getSelectedValues('age')[0])"></ion-icon>
            </div>

            <ng-container *ngIf="getSelectedValues('religion').length > 0">
              <div class="tag" *ngFor="let item of getSelectedValues('religion')">
                <span>{{ item }}</span>
                <ion-icon name="close" fill="clear" (click)="removeSelected('religion', item)"></ion-icon>
              </div>
            </ng-container>


            <div class="tag" *ngIf="getSelectedValues('married')[0] !== ''">
              <span>{{ getSelectedValues('married')[0] === '1' ? 'Married' : 'Unmarried' }}</span>

              <ion-icon name="close" (click)="removeSelected('married', getSelectedValues('married')[0])"></ion-icon>
            </div>

            <div class="tag" *ngIf="getSelectedValues('kids')[0] !== ''">

              <span>{{ getSelectedValues('kids')[0] === '1' ? 'Has Kids' : 'No Kids' }}</span>
              <ion-icon name="close" (click)="removeSelected('kids', getSelectedValues('kids')[0])"></ion-icon>
            </div>



            <ng-container *ngIf="getSelectedValues('skills').length > 0">
              <div class="tag" *ngFor="let item of getSelectedValues('skills')">
                <span>{{ item }}</span>
                <ion-icon name="close" fill="clear" (click)="removeSelected('skills', item)"></ion-icon>
              </div>
            </ng-container>
          </div>
          <div>
            <span class="bg-white px-2 rounded h-8 flex items-center justify-between text-xl">
              <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                width="18" height="18" x="0" y="0" viewBox="0 0 512.004 512.004"
                style="enable-background:new 0 0 512 512" xml:space="preserve" class="">
                <g>
                  <path
                    d="M361.183 0c-54.059 0-99.836 36.049-114.505 85.331H53.73c-18.024 0-28.614 20.339-18.285 35.119.16.231-5.363-7.31 129.747 177.039a23.501 23.501 0 0 1 4.148 13.367v177.688c0 19.435 22.224 30.24 37.473 18.754l57.593-43.518c8.614-6.415 13.754-16.655 13.754-27.409V310.856c0-4.798 1.435-9.417 4.149-13.369l46.497-63.451c76.139 21.439 151.81-36.022 151.81-114.791C480.617 53.493 427.039 0 361.183 0zM257.991 279.919c-5.835 7.968-9.831 19.1-9.831 30.938 0 136.483.734 127.081-1.68 128.869-1.91 1.421 10.835-8.188-47.14 35.618V310.856a53.368 53.368 0 0 0-9.622-30.646c-.169-.242 4.923 6.71-120.835-164.88h172.938c-1.457 44.852 22.126 84.961 58.678 106.581zm103.192-71.428c-49.314 0-89.434-40.035-89.434-89.246 0-49.21 40.12-89.245 89.434-89.245 49.313 0 89.433 40.035 89.433 89.245.001 49.211-40.119 89.246-89.433 89.246z"
                    fill="#000000" opacity="1" data-original="#000000" class=""></path>
                  <path
                    d="M400.201 80.298c-5.854-5.864-15.35-5.872-21.213-.02l-17.805 17.773-17.805-17.773c-5.863-5.853-15.361-5.846-21.213.02-5.853 5.862-5.844 15.36.019 21.213l17.767 17.735-17.767 17.735c-5.863 5.853-5.872 15.351-.019 21.213 5.833 5.844 15.331 5.891 21.213.02l17.805-17.773 17.805 17.773c5.845 5.834 15.343 5.862 21.213-.02 5.853-5.862 5.844-15.36-.019-21.213l-17.767-17.735 17.767-17.735c5.863-5.853 5.872-15.351.019-21.213z"
                    fill="#000000" opacity="1" data-original="#000000" class=""></path>
                </g>
              </svg>
            </span>
          </div>
        </div>
      </div>
      <div class="flex justify-center ">
        <ion-button color="success" class="btn-def capitalize text-xs !font-semibold"
          style="min-height: 35px;--padding-start: 1.5rem; --padding-end:1.5rem; "
          (click)="applyFilter()">Proceed</ion-button>
      </div>

    </div>

    <ion-modal #modal trigger="open-modal">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title class="text-sm font-semibold">Advanced Search</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="modal.dismiss()">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content color="light">
          <div class="grid grid-cols-1 gap-5 h-full w-full bg-slate-50 p-4 content-start">

            <div class="mt-4">
              <ion-select label="Select Worker Age" formControlName="age" interface="popover" label-placement="floating"
                fill="outline" class="input-outlined" style="--background: #fff">
                <ion-select-option value="18-30">18-30</ion-select-option>
                <ion-select-option value="31-45">31-45</ion-select-option>
                <ion-select-option value="45+">45+</ion-select-option>
              </ion-select>
            </div>
            <div>
              <ion-select formControlName="religion" label="Select Religion" multiple="true" nterface="popover"
                label-placement="floating" fill="outline" class="input-outlined" style="--background: #fff">
                <ion-select-option value="islam">Islam</ion-select-option>
                <ion-select-option value="christianity">Christianity</ion-select-option>
                <ion-select-option value="hinduism">Hinduism</ion-select-option>
                <ion-select-option value="buddhism">Buddhism</ion-select-option>
                <ion-select-option value="sikhism">Sikhism</ion-select-option>
              </ion-select>

            </div>
            <div>
              <ion-select label="Martial Status" formControlName="married" interface="popover"
                label-placement="floating" fill="outline" class="input-outlined" style="--background: #fff">
                <ion-select-option value="0">Unmarried</ion-select-option>
                <ion-select-option value="1">Married</ion-select-option>
              </ion-select>
            </div>
            <div>
              <ion-select label="Kids" formControlName="kids" interface="popover" label-placement="floating"
                fill="outline" class="input-outlined" style="--background: #fff">
                <ion-select-option value="0">No Kids</ion-select-option>
                <ion-select-option value="1">Has Kids</ion-select-option>
              </ion-select>

            </div>
            <div>
              <ion-select label="Worker Skills" formControlName="skills" multiple="true" interface="popover"
                label-placement="floating" fill="outline" class="input-outlined" style="--background: #fff">
                <ion-select-option value="manual_gear">Familiarity with vehicles equipped with manual gear
                  transmission</ion-select-option>
                <ion-select-option value="qatari_license">Qatari Driving License</ion-select-option>
              </ion-select>

            </div>
            <!-- <div class="relative">
              <ion-input label="Enter your QID number" class="input-outlined" label-placement="floating" fill="outline"
                placeholder="Enter text" style="--background:#fff"></ion-input>

            </div> -->


            <div class="flex justify-center ">
              <ion-button color="success" class="btn-def capitalize text-xs !font-semibold"
                style="min-height: 35px;--padding-start: 1.5rem; --padding-end:1.5rem;"
                (click)="selectedFilters()">SUBMIT</ion-button>
            </div>
          </div>
        </ion-content>
      </ng-template>
    </ion-modal>
  </form>
</ion-content>