<ion-content>
  <div class="overflow-auto px-4">
    <div class="card-grey mt-4">
      <div class="p-2 rounded-lg  bg-[#539AB7]">
        <div class="flex justify-between gap-2">
          <div>
            <img src="/assets/imgs/avatar-color.png" alt="">
          </div>
          <div class="flex flex-col justify-center items-center">
            <div class="text-center font-roboto font-semibold text-black text-xl leading-6 mt-2 text-[#19255B]">
              Akshay Kumar
              <span class="font-normal block text-sm leading-4 italic">Driver, India </span>
            </div>
          </div>
          <div>
            <ion-icon name="close" color="light" (click)="cancel()"></ion-icon>
          </div>
        </div>

        <div class="w-[225px] mx-auto mt-4 mb-2 flex gap-2">
          <div class="text-[#19255B] text-sm font-semibold flex flex-col gap-1">
            <div>Application Ref No</div>
            <div>Profession</div>
            <div>Current Location</div>
            <div>Cost of Recruitment</div>
            <div>Monthly Salary</div>
            <div>Phone no</div>
            <div>Passport number</div>
          </div>
          <div class="text-sm font-roboto text-white flex flex-col gap-1">
            <div>: 12342</div>
            <div>: Driver</div>
            <div>: Qatar</div>
            <div>: 8000 QAR</div>
            <div>: 3000 QAR</div>
            <div>: 9713 7311</div>
            <div>: A20004000</div>
          </div>
        </div>
      </div>

      <div class="p-6">
        <div class="text-center text-black   mb-3 font-roboto font-semibold">Main Agreement Information </div>
        <div class="w-[285px] mx-auto mt-4 mb-2 flex gap-2">  
          <div class="text-[#252A31] text-sm font-semibold flex flex-col gap-1">
            <div>Availability (In Days)</div>
            <div>Replacement During Probation</div>
            <div>Joining Air Fare Included?</div> 
          </div>
          <div class="text-sm font-roboto font-semibold text-[#4F5E71] flex flex-col gap-1">
            <div>45 Days</div>
            <div>Yes</div>
            <div>Yes</div> 
          </div>
        </div>

        <div class="text-center text-black mt-3 pt-3 border-t border-t-[#D9D9D9] mb-3 font-roboto font-semibold">Main Agreement Information </div>
        <div class="w-[250px] mx-auto mt-4 mb-2 flex gap-2">  
          <div class="text-[#252A31] text-sm font-semibold flex flex-col gap-1">
            <div>Name</div>
            <div>Phone</div>
            <div>Email</div> 
            <div>Address</div> 
          </div>
          <div class="text-sm font-roboto font-semibold text-[#4F5E71] flex flex-col gap-1">
            <div>: Manpower LTD</div>
            <div>: 9713 7311</div>
            <div>: man.power&#64;gmail.com</div> 
            <div>: Zone 10, street 45, Bldg 1</div> 
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>