<ion-content [fullscreen]="true"> 
  <div class="w-full h-full bg-splash flex flex-col justify-between items-center">

    <div class="header-welcome flex justify-between w-full px-8 mt-16">
      <div class="flex justify-center items-center flex-col">
        <img src="./assets/imgs/moawen-logo.png" alt="moawen-logo" class="mb-4">
        <span class="text-tahiti text-sm text-center w-full">{{ 'Your Bridge to Smarter Hiring' | translate }}</span>
      </div>
      <app-language-switcher></app-language-switcher>
    </div>
    
    <div class="footer-welcome mb-6">
      <div class="btn-wrap">
        <ion-button color="success" class="btn-login capitalize text-lg" [routerLink]="['/login']">{{'Sign In' | translate}}</ion-button>
        <a routerLink="/register" class="w-full text-center text-white mx-auto block underline text-base">{{'Sign Up'| translate}}</a>
      </div> 
      <div class="our-comps flex flex-row items-center justify-around mt-20 mb-4">
        <a href="" target="_blank">
          <img src="./assets/imgs/mol-logo.png" alt="">
        </a>
        <a href="" target="_blank" class="self-end">
          <img src="./assets/imgs/jusour-logo.png" alt="">
        </a>
      </div>
      <p class="text-center text-white text-xs font-roboto font-normal">All rights reserved &copy; maowen | 2024</p>
    </div>
  </div>
</ion-content>