<ion-content [fullscreen]="true">
  <div class="grid grid-cols-1 gap-5 h-full w-full bg-slate-50 p-4 content-start">
    <div>
      <div class="mb-2">Hello,</div>
      <div class="text-secondary font-semibold font-roboto text-lg">Meet Your Match: <span
          class="block text-primary font-medium text-base">Effortless Recruitment Begins
          Here</span></div>
    </div>
    <div>
      <ion-select label="Select  Nationality" label-placement="floating" fill="outline" class="input-outlined">
        <ion-select-option value="apple">India</ion-select-option>
        <ion-select-option value="banana">Bangladesh</ion-select-option>
        <ion-select-option value="orange">Nepal</ion-select-option>
      </ion-select>
    </div>
    <div>
      <ion-select label="Select Gender" label-placement="floating" fill="outline" class="input-outlined">
        <ion-select-option value="apple">Male</ion-select-option>
        <ion-select-option value="banana">Female</ion-select-option>
      </ion-select>
    </div>
    <div>
      <ion-select label="Select Profession" label-placement="floating" fill="outline" class="input-outlined">
        <ion-select-option value="apple">Driver</ion-select-option>
        <ion-select-option value="banana">Domestic Worker</ion-select-option>
      </ion-select>
    </div>
    <div>
      <ion-select label="Select Visa Permit" label-placement="floating" fill="outline" class="input-outlined">
        <ion-select-option value="apple">NA</ion-select-option>
      </ion-select>
    </div>
    <div>
      <div class="cstm-input">
        <label for="">Advanced Search</label>
        <div class="bg-white px-2  rounded h-8 flex items-center justify-between text-xl">
          <ion-icon name="options"></ion-icon>
        </div>
      </div>
    </div>
    <div>
      <div class="cstm-input">
        <div class="flex gap-1">
          <div class="tag">
            <span>Islam</span>
            <ion-icon name="close"></ion-icon>
          </div>
          <div class="tag">
            <span>Islam</span>
            <ion-icon name="close"></ion-icon>
          </div>
          <div class="tag">
            <span>Islam</span>
            <ion-icon name="close"></ion-icon>
          </div>
        </div>
        <!-- <div class="bg-white px-2  rounded h-8 flex items-center justify-between text-xl">
          <ion-icon name="options"></ion-icon>
        </div> -->
      </div>
    </div>

  </div>

</ion-content>