<ion-tabs>
  <ion-tab-bar slot="bottom" id="primary-tabs">
    <ion-tab-button tab="dashboard">
      <ion-icon aria-hidden="true" class="text-xl" name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="worker">
      <ion-icon aria-hidden="true" name="menu-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="hireNow" >
      <ion-icon aria-hidden="true" name="add-circle-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="wallet">
      <ion-icon aria-hidden="true" name="wallet-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

