<ion-header class="ion-no-border" >
  <ion-toolbar class="ion-header-white" style="--background: #fff; --border-color: #fff;">
    <!-- <ion-title class="text-center ">YOUR PROFILE</ion-title> -->
  </ion-toolbar>
</ion-header>

 <ion-content [fullscreen]="true">
  <div class="">
    <div class="py-3 px-4 sticky top-2 bg-white">
      <div class="text-secondary font-semibold font-roboto text-lg leading-4">Your Workers 
        <span class="block text-primary font-medium text-base">4 Workers</span>
      </div>
    </div>
    <div class="p-4 flex flex-col gap-3 overflow-auto">
      <div class="card px-3 py-2 flex  flex-col" style="--background: url('/assets/imgs/card-light.jpg');">
        <div class="flex gap-4">
          <div>
            <img src="/assets/imgs/avatar-color.png" alt=""> 
          </div>
          <div class="w-full">
            <div class="flex justify-between gap-2 w-full">
              <div class="text-black font-bold text-sm leading-4 mt-2">
                Driver
                <span class="block font-normal">India</span>
              </div>
              <div>
                <!-- <img src="/assets/imgs/icons/material-symbols-light.png" alt=""> -->
              </div>
            </div>
            <div class="text-xs mt-3 max-w-[50%]">Male / Islam / Under 30 / No Kids / Single</div>
          </div>
        </div>
        <div class="flex justify-between mt-3">
          <ion-button color="light" class="btn-def capitalize text-xs !font-semibold"
            style="min-height: 30px;--padding-start: 1rem; --padding-end:1rem; --padding-top: 0.3rem; --padding-bottom: 0.3rem">Under Probation</ion-button>
          <ion-button color="primary" class="btn-def capitalize text-xs !font-semibold"
            style="min-height: 30px;--padding-start: 1rem; --padding-end:1rem; --padding-top: 0.3rem; --padding-bottom: 0.3rem " [routerLink]="'worker-profile'"  >View Profile</ion-button>
        </div>
      </div> 
      <div class="card px-3 py-2 flex  flex-col" style="--background: url('/assets/imgs/green-line-bg.jpg');">
        <div class="flex gap-4">
          <div>
            <img src="/assets/imgs/avatar-color.png" alt="">
  
          </div>
          <div class="w-full">
            <div class="flex justify-between gap-2 w-full">
              <div class="text-black font-bold text-sm leading-4 mt-2">
                Driver
                <span class="block font-normal">India</span>
              </div>
              <div>
                <!-- <img src="/assets/imgs/icons/material-symbols-light.png" alt=""> -->
              </div>
            </div>
            <div class="text-xs mt-3 max-w-[50%]">Male / Islam / Under 30 / No Kids / Single</div>
          </div>
        </div>
        <div class="flex justify-between mt-3">
          <ion-button color="light" class="btn-def capitalize text-xs !font-semibold"
            style="min-height: 30px;--padding-start: 1rem; --padding-end:1rem; --padding-top: 0.3rem; --padding-bottom: 0.3rem">Under Probation</ion-button>
          <ion-button color="primary" class="btn-def capitalize text-xs !font-semibold"
            style="min-height: 30px;--padding-start: 1rem; --padding-end:1rem; --padding-top: 0.3rem; --padding-bottom: 0.3rem "   [routerLink]="'worker-profile'" >View Profile</ion-button>
        </div>
      </div> 
      <div class="card px-3 py-2 flex  flex-col" style="--background: url('/assets/imgs/green-line-bg.jpg');">
        <div class="flex gap-4">
          <div>
            <img src="/assets/imgs/avatar-color.png" alt="">
  
          </div>
          <div class="w-full">
            <div class="flex justify-between gap-2 w-full">
              <div class="text-black font-bold text-sm leading-4 mt-2">
                Driver
                <span class="block font-normal">India</span>
              </div>
              <div>
                <!-- <img src="/assets/imgs/icons/material-symbols-light.png" alt=""> -->
              </div>
            </div>
            <div class="text-xs mt-3 max-w-[50%]">Male / Islam / Under 30 / No Kids / Single</div>
          </div>
        </div>
        <div class="flex justify-between mt-3">
          <ion-button color="light" class="btn-def capitalize text-xs !font-semibold"
            style="min-height: 30px;--padding-start: 1rem; --padding-end:1rem; --padding-top: 0.3rem; --padding-bottom: 0.3rem">Under Probation</ion-button>
          <ion-button color="primary" class="btn-def capitalize text-xs !font-semibold"
            style="min-height: 30px;--padding-start: 1rem; --padding-end:1rem; --padding-top: 0.3rem; --padding-bottom: 0.3rem "  [routerLink]="'worker-profile'"  >View Profile</ion-button>
        </div>
      </div> 
      <div class="card px-3 py-2 flex  flex-col" style="--background: url('/assets/imgs/card-light.jpg');">
        <div class="flex gap-4">
          <div>
            <img src="/assets/imgs/avatar-color.png" alt="">
  
          </div>
          <div class="w-full">
            <div class="flex justify-between gap-2 w-full">
              <div class="text-black font-bold text-sm leading-4 mt-2">
                Driver
                <span class="block font-normal">India</span>
              </div>
              <div>
                <!-- <img src="/assets/imgs/icons/material-symbols-light.png" alt=""> -->
              </div>
            </div>
            <div class="text-xs mt-3 max-w-[50%]">Male / Islam / Under 30 / No Kids / Single</div>
          </div>
        </div>
        <div class="flex justify-between mt-3">
          <ion-button color="light" class="btn-def capitalize text-xs !font-semibold"
            style="min-height: 30px;--padding-start: 1rem; --padding-end:1rem; --padding-top: 0.3rem; --padding-bottom: 0.3rem">Under Probation</ion-button>
          <ion-button color="primary" class="btn-def capitalize text-xs !font-semibold"
            style="min-height: 30px;--padding-start: 1rem; --padding-end:1rem; --padding-top: 0.3rem; --padding-bottom: 0.3rem "   [routerLink]="'worker-profile'" >View Profile</ion-button>
        </div>
      </div> 
    </div>
  </div>
</ion-content>
