<ion-header class="ion-no-border" >
  <ion-toolbar class="ion-header-white" style="--background: #fff; --border-color: #fff;">
    <!-- <ion-title class="text-center ">YOUR PROFILE</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="grid grid-cols-1 gap-3 h-full w-full bg-slate-50 p-4 content-center overflow-auto">
    <div class="mt-4">
      <div class="text-secondary font-semibold font-roboto text-lg">Meet Your Match: <span class="block text-primary font-medium text-base">Effortless Recruitment Begins
          Here</span></div>
    </div>
    <div class="text-center text-primary font-medium text-base mt-2">Select Type</div>
    <div class="flex flex-col items-center justify-between p-3 green-bg gap-3">
      <div class="text-white font-roboto font-medium text-base">Submit Recruitment Application</div>
      <div>
        <img src="/assets/imgs/icons/visa.png" alt="">
      </div>
      <ion-button color="primary" class="btn-def capitalize text-xs !font-normal"
        style="    min-height: 35px;--padding-start: 3rem; --padding-end:3rem;  --border-style: solid;  --border-width: 1px;"
        [routerLink]="['submit-application']">Select</ion-button>
    </div>
    <div class="flex flex-col items-center justify-between p-3 blue-bg gap-3">
      <div class="text-white font-roboto font-medium text-base">Browse Workers</div>
      <div>
        <img src="/assets/imgs/icons/tr-workers.png" alt="">
      </div>
      <ion-button color="primary" class="btn-def capitalize text-xs !font-normal"
        style="    min-height: 35px;--padding-start: 3rem; --padding-end:3rem;  --border-style: solid;  --border-width: 1px;"
        [routerLink]="['brows-local']">Select</ion-button>
    </div>
    <div class="flex flex-col items-center justify-between p-3 dark-bg gap-3">
      <div class="text-white font-roboto font-medium text-base">Browse By Agency</div>
      <div>
        <img src="/assets/imgs/icons/travel-agency.png" alt="">
      </div>
      <ion-button color="primary" class="btn-def capitalize text-xs !font-normal"
        style="    min-height: 35px;--padding-start: 3rem; --padding-end:3rem;  --border-style: solid;  --border-width: 1px;"
        [routerLink]="['']">Select</ion-button>
    </div>

  </div>
  
</ion-content>