
.green-bg{
    background: url('/assets/imgs/green-line-bg.jpg') no-repeat center;
    border-radius: 10px;
    background-size: cover;
}
.blue-bg{
    background: url('/assets/imgs/blue-line-bg.jpg') no-repeat center;
    border-radius: 10px;
    background-size: cover;
}
.dark-bg{
    background: url('/assets/imgs/dak-line-bg.jpg') no-repeat center;
    border-radius: 10px;
    background-size: cover;
}