<ion-content [fullscreen]="true" class="bg-success">
  <div class="flex flex-col items-center h-full justify-center">
    <div class="flex p-4 justify-center flex-col items-center text-center">
      <div class="flex justify-center">
        <img src="/assets/imgs/check-rounded.png" alt="">
      </div>
      <div class="text-primary font-roboto font-bold text-xl mt-4">
        Your recruitment application request has been successfully submitted.
      </div>
      <div class="mt-4 font-roboto text-base font-semibold text-primary">
        Your recruitment Application Request ID: #1899
      </div>
      <div class="mt-4 text-sm font-roboto font-semibold text-primary">
        Please click "Proceed" to view the responses.
      </div>
    </div>
    <div class="flex justify-center mt-12">
      <ion-button color="success" class="btn-def capitalize text-xs !font-semibold"
        style="min-height: 35px;--padding-start: 1.5rem; --padding-end:1.5rem; " (click)="navigateToBrows()">Proceed</ion-button>
    </div>
  </div>
</ion-content>
