<ion-header class="ion-no-border">
  <ion-toolbar style="--background: #fff; --border-color: #fff;">

    <ion-title class="text-center text-lg font-semibold text-primary">Worker Profile</ion-title>

  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="overflow-auto px-4">
    <div class="card-grey">
      <div class="p-2 rounded-lg flex justify-between gap-2 bg-[#539AB7]">
        <div>
          <img src="/assets/imgs/avatar-color.png" alt="">
        </div>
        <div class="flex flex-col justify-center items-center">
          <div class="text-center font-roboto font-semibold text-black text-xl leading-6 mt-2 text-[#19255B]">
            Akshay Kumar
            <span class="font-normal block text-sm leading-4 italic">Driver, India </span>
          </div>
        </div>
        <div (click)="openProfileView()">
          <ion-icon name="information-circle" color="light"></ion-icon>
        </div>
      </div>

    </div>
    <div class="mt-4">
      <h3 class="text-lg text-center text-primary font-medium mb-2 font-roboto">APPLICATION PROGRESS</h3>
      <div class="w-full bg-[#D9D9D9] rounded-lg h-[10px] overflow-hidden relative mb-8">
        <div class="bg-[#B9D73D] rounded-lg absolute left-0 top-0 w-[20%] h-full"></div>
      </div>

      <div class="status-chart max-w-[270px] justify-self-center mx-auto  flex flex-col gap-y-1">
        <div class="flex gap-2 px-5 h-[80px] rounded-lg items-center   line">
          <div class="mw-icon">
            <img src="/assets/imgs/icons/progress-done.svg" alt="">
          </div>
          <div class="self-center font-roboto text-[#273B4A] text-base leading-5">
            <div class="font-medium">Visa Process</div>
            <div class="font-normal">Success</div>
          </div>
        </div>
        <div class="flex gap-2 px-5 h-[80px] rounded-lg mw-circle items-center line">
          <div class="mw-icon">
            <img src="/assets/imgs/icons/progress-circle.svg" alt="">
          </div>
          <div class="self-center font-roboto text-[#273B4A] text-base leading-5">
            <div class="font-medium">Worker Arrived in Qatar</div>
            <div class="font-normal">Success</div>
          </div>
        </div>
        <div class="flex gap-2 px-5 h-[80px] rounded-lg   items-center line">
          <div class="mw-icon">
            <img src="/assets/imgs/icons/progress-panding.svg" alt="">
          </div>
          <div class="self-center font-roboto text-[#273B4A] text-base leading-5">
            <div class="font-medium">Worker Arrived in Qatar</div>
            <div class="font-normal">Success</div>
          </div>
        </div>
        <div class="flex gap-2 px-5 h-[80px] rounded-lg   items-center line">
          <div class="mw-icon">
            <img src="/assets/imgs/icons/progress-panding.svg" alt="">
          </div>
          <div class="self-center font-roboto text-[#273B4A] text-base leading-5">
            <div class="font-medium">Worker Arrived in Qatar</div>
            <div class="font-normal">Success</div>
          </div>
        </div>
        <div class="flex gap-2 px-5 h-[80px] rounded-lg   items-center">
          <div class="mw-icon">
            <img src="/assets/imgs/icons/progress-panding.svg" alt="">
          </div>
          <div class="self-center font-roboto text-[#273B4A] text-base leading-5">
            <div class="font-medium">Worker Arrived in Qatar</div>
            <div class="font-normal">Success</div>
          </div>
        </div>
      </div>

      <!-- Accordian Footer -->
      <div>
        <div class="border-[#BAC7D5] border bg-[#F5F7F9] rounded-lg px-4 py-3 flex justify-between items-center my-3">
          <div>
            <div class="font-roboto text-sm font-semibold text-[#252A31]">Visa Status</div>
            <div class="font-roboto text-sm font-semibold text-[#4F5E71]">Approved</div>
          </div>
          <div>
            <div class="font-roboto text-base font-normal text-[#252A31]">A20004000</div>
          </div>
        </div>
        <div class="border-[#BAC7D5] border bg-[#F5F7F9] rounded-lg px-4 py-3 flex justify-between items-center my-3">
          <div>
            <div class="font-roboto text-sm font-semibold text-[#252A31]">
              <ion-icon name="alert-circle-sharp"></ion-icon>
              Download Visa
            </div>
          </div>
          <div>
            <ion-button color="success" class="btn-def capitalize text-xs !font-bold font-roboto"
              style="min-height: 25px;--padding-start: 1rem; --padding-end:1rem; --padding-top: 0.75rem; --padding-bottom: 0.5rem;">DOWNLOAD
              <ion-icon slot="end" name="cloud-download-outline"></ion-icon></ion-button>
          </div>
        </div>
        <div class="border-[#BAC7D5] border bg-[#F5F7F9] rounded-lg px-4 py-3 flex justify-between items-center my-3">
          <div>
            <div class="font-roboto text-sm font-semibold text-[#252A31]">Visa Status</div>
            <div class="font-roboto text-sm font-semibold text-[#4F5E71]">Approved</div>
          </div>
          <div>
            <div class="font-roboto text-base font-normal text-[#252A31]">A20004000</div>
          </div>
        </div>
        <div class="flex justify-center flex-wrap gap-2 mb-2">
          <ion-button color="success" class="btn-def capitalize text-xs !font-bold font-roboto"
            style="min-height: 30px;--padding-start: 1rem; --padding-end:1rem; --padding-top: 0.75rem; --padding-bottom: 0.75rem;">DOWNLOAD
            CV
          </ion-button>
          <ion-button color="primary" class="btn-def capitalize text-xs !font-bold font-roboto"
            style="min-height: 30px;--padding-start: 1rem; --padding-end:1rem; --padding-top: 0.75rem; --padding-bottom: 0.75rem;">REQUEST
            REPLACEMENT
          </ion-button>
          <ion-button color="primary" class="btn-def capitalize text-xs !font-bold font-roboto"
            style="min-height: 30px;--padding-start: 1rem; --padding-end:1rem; --padding-top: 0.75rem; --padding-bottom: 0.75rem;">CANCEL
            PROCESS
          </ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>