<ion-header [translucent]="true" >
  <ion-toolbar color="primary">
    <ion-title class="text-center ">YOUR PROFILE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="overflow-auto">
    <div class="px-4">
      <div class="text-center text-black text-lg font-medium font-roboto mt-3 leading-5">Personal Information 
        <span class="block font-normal text-xs">Enter Your Personal Details</span>
      </div>
       
      <div class="mt-3">
        <div class="flex items-center  ">
          <!-- <ion-icon name="information-circle"></ion-icon> -->
          <span class="text-sm text-black font-medium font-roboto"> First Name</span>
        </div>
        <ion-input fill="outline" class="outline-no-float" placeholder="Enter text"
          style="--input-height: 40px"></ion-input>
      </div> 
      <div class="mt-3">
        <div class="flex items-center  ">
          <!-- <ion-icon name="information-circle"></ion-icon> -->
          <span class="text-sm text-black font-medium font-roboto"> Last Name</span>
        </div>
        <ion-input fill="outline" class="outline-no-float" placeholder="Enter text"
          style="--input-height: 40px"></ion-input>
      </div> 
      <div class="mt-3">
        <div class="flex items-center  ">
          <!-- <ion-icon name="information-circle"></ion-icon> -->
          <span class="text-sm text-black font-medium font-roboto"> Email <small class="font-normal">(Optional) </small></span>
        </div>
        <ion-input fill="outline" class="outline-no-float" placeholder="Enter text"
          style="--input-height: 40px"></ion-input>
      </div> 
      <div class="mt-3">
        <div class="flex items-center  ">
          <!-- <ion-icon name="information-circle"></ion-icon> -->
          <span class="text-sm text-black font-medium font-roboto"> Gendar <span class="text-[red] font-bold">*</span></span>
        </div>
        <ion-segment value="default">
          <ion-segment-button value="default">
            <ion-label class="capitalize text-sm font-roboto">Male</ion-label>
          </ion-segment-button>
          <ion-segment-button value="segment">
            <ion-label class="capitalize text-sm font-roboto">Female</ion-label>
          </ion-segment-button>
        </ion-segment>
      </div> 
      <div class="mt-3">
        <div class="flex items-center  ">
          <!-- <ion-icon name="information-circle"></ion-icon> -->
          <span class="text-sm text-black font-medium font-roboto"> Nationality <small class="text-[red] font-bold">* </small></span>
        </div>
        
          <ion-select aria-label="Fruit" placeholder="Select fruit" labelPlacement="stacked"  fill="outline" class="outline-no-float" style="--input-height: 40px">
            <ion-select-option value="apple">Apple</ion-select-option>
            <ion-select-option value="banana">Banana</ion-select-option>
            <ion-select-option value="orange">Orange</ion-select-option>
          </ion-select>
      </div> 
      <div class="text-center text-black text-lg font-medium font-roboto mt-5 leading-4">Address Details</div>
      <div class="mt-3">
        <div class="flex items-center  ">
          <!-- <ion-icon name="information-circle"></ion-icon> -->
          <span class="text-sm text-black font-medium font-roboto"> Email <span class="font-bold text-[red]">*</span></span>
        </div>
        <ion-input fill="outline" class="outline-no-float" placeholder="Zone"
          style="--input-height: 40px"></ion-input>
      </div>
      <div class="mt-3"> 
        <div class="flex items-center  ">
          <!-- <ion-icon name="information-circle"></ion-icon> -->
          <span class="text-sm text-black font-medium font-roboto"> Street <span class="font-bold text-[red]">*</span></span>
        </div>
        <ion-input fill="outline" class="outline-no-float" placeholder="Street"
          style="--input-height: 40px"></ion-input>
      </div>
      <div class="mt-3"> 
        <div class="flex items-center  ">
          <!-- <ion-icon name="information-circle"></ion-icon> -->
          <span class="text-sm text-black font-medium font-roboto"> Building <span class="font-bold text-[red]">*</span></span>
        </div>
        <ion-input fill="outline" class="outline-no-float" placeholder="Building"
          style="--input-height: 40px"></ion-input>
      </div>
      <div class="text-center text-black text-lg font-medium font-roboto mt-5 leading-5 mb-3">Upload Documents 
        <span class="block font-normal text-xs">Please ensure that the file size is below 2MB</span>
      </div>
      <ion-accordion-group>
        <ion-accordion value="first" class="mb-2">
          <ion-item slot="header" color="light">
            <div class="flex w-full justify-between font-roboto items-center">
              <div class="text-primary font-semibold text-lg leading-5 py-3">Upload QID <br>
                Front & Back</div>
               
              <ion-button color="success" class="btn-def font-roboto capitalize text-[10px] !font-medium tracking-tight"
                style="min-height: 23px;--padding-start: 0.5rem; --padding-end:0.5rem; --padding-top: 0.3rem; --padding-bottom: 0.3rem">
                Choose File</ion-button>
            </div>
          </ion-item>
          <div class="ion-padding" slot="content">
            <div class="font-roboto text-black leading-4 text-sm">
              <ion-input fill="outline" class="outline-no-float" placeholder="Building" type="file"
          style="--input-height: 40px"></ion-input>
            </div>
          </div>
        </ion-accordion>
      </ion-accordion-group>
      <div class="mt-3 flex justify-center">
        <ion-button color="primary" class="btn-def font-roboto capitalize text-base !font-medium tracking-tight"
          style="min-height: 45px;--padding-start: 1.75rem; --padding-end:1.75rem; --padding-top: 0.3rem; --padding-bottom: 0.3rem">Save</ion-button>
      </div>
    </div>
  </div>
</ion-content>