<ion-content>
  <div class="px-2 flex flex-col justify-center h-full">
    <div class="bg-[#F5F5F5] px-2 py-4 rounded-lg font-roboto relative text-primary border-[#E6E6E4] border"
      style="height: 80vh;">
      <ion-icon name="close-sharp" class="absolute right-2 top-2 text-xl" (click)="cancel()"></ion-icon>
      <div class="font-medium max-w-[80%] mx-auto text-xl text-center relative">Contract Details <span
          class="text-sm block mt-2">Please read the Contract carefully and agree before Hiring</span>

      </div>
      <div class="rounded-lg bg-white p-3 font-normal text-base overflow-auto h-3/4 mt-3">
        Contract of Recruitment of Workers from Abroad in favor of others On ……………corresponding to …………, this
        Contract has been made between:
        <ol class="list-decimal pl-4">
          <li>…………………Office for recruitment of the workers from abroad in favor of others, legally represented by
            Mr.
            ……………., in his capacity as: ………….., address: …………, P.O. Box: ………., phone: …………, license No. : ………..,
            license issue date: …………. - hereinafter referred to as the (First Party).</li>
          <li>
            Mr. …………………., the employer: …………….., ID card / passport No. ………….., resident in the following address:
            ……………, commercial register No. …………, P.O. Box: …………, phone: …………..., hereinafter referred to as the
            (Second Party).
          </li>
        </ol>


        The two parties agree upon the following:
        <br>
        <br>
        Article (1) <br>
        The First Party shall recruit workers from abroad in favor of the Second Party in accordance with the
        rules and conditions stipulated in this Contract.
        Details of the recruited worker shall be specified as follows:
        Name <br>
        Nationality <br>
        Experience <br>
        Salary <br>
        Term of the contract <br>
        Profession<br>
        <br>

        Article (2) <br>
        The First Party shall be obligated to recruit the labour mentioned in Article (1) of this Contract in
        accordance with the applicable legislations in the State of Qatar and in accordance with the applicable
        legislations in the country, from which the labour is recruited.<br><br>
        Article (3) <br>
        The two parties shall be obligated not to collect any amounts from the recruited worker or burden him with
        any financial burdens in the form offees, expenses of recruitment, or consideration in return for his
        employment or any other expenses.<br><br>

        Article (4)<br>
        The First Party shall be obligated to recruit the workers referred to in Article (1) of this Contract (in
        one batch/ in multiple batches) during period of ……….. and this period commences as of the day following
        date of concluding and signing this Contract by the two parties or as of / / .<br><br>

        Article (5)<br>
        The Second Party shall be obligated to provide the appropriate accommodation or appropriate accommodation
        allowance for the recruited worker and the Second Party is also obligated to fulfill all of rights of the
        recruited worker according to the laws and decisions related to the same.<br><br>

        Article (6)<br>
        The Second Party shall be obligated to complete the recruited worker’s procedures of residency and medical
        examination prescribed for the worker in the State within a period not exceeding two weeks from the date
        of their arrival to the country and the Second Party shall not be entitled to demand the First Party to
        pay these charges in case of disagreement between the two parties.<br><br>
        Article (7)<br>
        The employment contract shall be made before the worker assume his work and the First Party shall receive
        from the Second Party the employment contracts, provided that they are executed in four copies signed by
        the Second Party and worker and authenticated by Ministry of Administrative Development, Labour and Social
        Affairs.<br><br>

        Article (8)<br>
        The Second Party may authorize the First Party on its behalf to take the necessary actions before the
        concerned government authorities, whether in the State of Qatar or in the country from which the worker
        has been recruited.<br><br>

        Article (9)<br>
        The First Party's obligation shall expire once the workers arrive and are delivered to the Second Party.
        However, the First Party shall be responsible for the health safety of the worker recruited from abroad
        through worker's passing the medical examination prescribed in the State.<br><br>

        Article (10)<br>
        The First Party shall be obligated to ensure a preliminary probation period for three months. During this
        period, the Second Party shall have the right to recover the entire amount that he paid to the First
        Party, less the government charges in any of the following cases:<br>
        If it is proved that the worker is not medically fit.<br>
        In case of breach of conditions of the recruitment contract.<br>
        If the worker rejects the work.<br>
        If the worker escapes.<br>
        If the employer terminates the employment contract in accordance with the provisions of Decision of
        Minister of Administrative Development, Labour and Social Affairs No. (39) of 2018.<br><br>

        Article (11)<br>
        The First Party shall be obligated to ensure an additional probation period for six months starting
        immediately after expiration of the preliminary probation period. During this period, the First Party
        shall be obligated to ensure repayment of the amounts that the Second Party paid to him, less (15%)
        fifteen percent of the total amount owed by the First Party, for each month that the worker spends in
        service of the Second Party during the additional probation period and in addition to deducting the value
        of the government charges incurred by the First Party in any of the following cases:<br>
        If the worker rejects the work.<br>
        If the worker escapes.<br>
        If the worker has one of the chronic diseases.<br><br>

        Article (12)<br>
        The determined probation period shall start, immediately after the Second Party receives the recruited
        worker and the Second Party's right to obtain this probation period lapses in the following cases:<br>
        If the employer assaults the worker.<br>
        If the employer breaches any of the conditions of the contract concluded with the worker.<br><br>

        Article (13)<br>
        Provisions of the guarantee (probation period) stipulated in the two Articles (11) and (12) of this
        Contract shall not apply when the worker travels with the Second Party outside the State of Qatar.<br><br>
        Article (14)<br>
        The First Party shall receive an amount of ………..QAR per worker that the First Party recruits in favor of
        the Second Party.<br><br>

        Article (15)<br>
        Unless the First Party adheres to the period specified in Article (4) of this Contract, the First Party
        shall be obligated to pay to the Second Party a compensation by 1% of the agreed amount, for each delay
        day exceeding the aforementioned period. The<br>
        Second Party shall be entitled to avoid the Contract if period of the delay exceeds<br>
        (15) days.<br><br>

        Article (16)<br>
        In the case of occurrence of a dispute between the two parties on the provisions of this Contract, they
        may present the dispute to Labour Relations Department to settle the dispute amicably. If it is not
        possible, the dispute shall be presented to the competent court.<br><br>
        Article (17)<br>
        Provisions of Labour Law promulgated by the Law No. (14) of 2004, laws amending it and decisions
        implementing it, Law No. (15) of 2017 concerning Domestic Workers and the Ministerial Decision No. (8) of
        2005 regarding Regulating Conditions and Procedures for Obtaining a License to Recruit Workers from Abroad
        in favor of Others and the decisions amending it shall be applicable to the matters not covered by this
        Contract.<br><br>

        Article (18)<br>
        This Contract has been executed in three original copies authenticated by Labour Relations Department at
        Ministry of Administrative Development, Labour and Social Affairs. Each party shall keep a copy of this
        Contract and the third copy shall be deposited in the Department.<br><br>

        Signature<br><br>

        The First Party The Second Party<br>


      </div>
      <div class="mt-2 flex justify-center">
        <ion-button color="primary" class="btn-def capitalize text-xs !font-semibold"
          style="min-height: 35px;--padding-start: 1.5rem; --padding-end:1.5rem; " (click)="cancel()">Sign
          & Submit</ion-button>
      </div>
    </div>
  </div>
</ion-content>