.bg-success {
    --background: url('/assets/imgs/payment-confirmed.jpg') no-repeat center center #fffffd;
    --background-size: cover;
  }
  .bg-trans{
    --background: transparent;
    background-color: transparent;
  }