.card {
    background: var(--background) no-repeat right bottom;
    background-size: cover;
    border-radius: 10px;
}

::ng-deep .middleModal {
    --height: 50%;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

    ion-content {
        --background: #539AB7;
        background: #539AB7;

        * {
            color: #fff;
            --color: #fff;
        }

        .outline-no-float {
            --background: #F5F5F5;
            background-color: #F5F5F5;
            border-color: #F5F5F5;
            --border-color: #F5F5F5;
            color: #273B4A;
            --color: #273B4A;

            * {
                color: #273B4A;
                --color: #273B4A;
            }
        }
    }
}

ion-modal::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 1;
}

ion-modal ion-toolbar {
    --background: rgb(14 116 144);
    --color: white;
}