@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";


// custom fonts

@import './assets/fonts/fonts.scss';

html,
body {
    --ion-font-family: 'Acumin Variable Concept';
     
}

.container-center {
    text-align: center;

    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

ion-button.btn-def {
    --padding-top: 0.6em;
    --padding-bottom: 0.35em;
    font-weight: 600;
    --border-radius: 60px;
    min-height: 37px;

    &.outline {
        --border-width: 1px;
        --border-style: solid;
        --border-color: #fff;
    }
}

ion-tab-bar#primary-tabs {
    --background: #fff;
    width: 90%;
    margin: 0 auto 1rem;
    box-shadow: 0 0 12px 0 rgb(0 0 0 / 20%);
    border-radius: 10px;
    ion-tab-button {
        --background: #fff;
    }
}
.custom-otp-field{
    .ng-otp-input-wrapper{
      @apply grid grid-cols-6 gap-2;
      input{
        margin-right: 0 !important;
      }
    }
  }

  ion-radio.radio-mw{
    border:2px solid transparent;
    &.radio-checked{
        border-color: #0C1624;
    } 
}
.input-outlined, .tag, .cstm-input{
    --color: #697D95;
    color: #697D95;
}
