<ion-content [fullscreen]="true"> 
  <div class="overflow-auto">
    <div class="px-4">
      <div class="mt-4">
          <div class="text-secondary font-semibold font-roboto text-lg text-center">Follow up on complaints   
            <span class="block text-primary font-medium text-base leading-4">General information about  <br>
              the complaints</span>
          </div>
        </div> 
       
        <div class="mt-6">
          <div class="text-center text-lg text-white bg-primary px-3 py-2 rounded-t-lg">In-Progress Complaints</div>
          <ion-accordion-group>
            <ion-accordion value="first" class="mb-2">
              <ion-item slot="header" color="light">
                <div class="flex w-full justify-between font-roboto items-center">
                  <div class="text-primary font-semibold text-sm leading-4 py-2">Complaint No. <strong>#4535</strong>
                    <strong class="block">XYZ</strong>
                    <small class="block">02-03-2024</small>
                    </div>
                  
                  <ion-button color="secondary" class="btn-def font-roboto capitalize text-[10px] !font-medium tracking-tight"
                    style="min-height: 23px;--padding-start: 0.5rem; --padding-end:0.5rem; --padding-top: 0.3rem; --padding-bottom: 0.3rem">
                    Under Review</ion-button>
                </div>
              </ion-item>
              <div class="ion-padding" slot="content">
                <div class="flex justify-between">
                  <div class="flex flex-col gap-2">
                    <div class="font-roboto text-black leading-4 text-sm">
                      Location
                      <span class="block text-[#273B4A]">Al-sad</span>
                    </div>
                    <div class="font-roboto text-black leading-4 text-sm">
                      Name of Worker 
                      <span class="block text-[#273B4A]">Rahul</span>
                    </div>
                    <div class="font-roboto text-black leading-4 text-sm">
                      VP No. 
                      <span class="block text-[#273B4A]">43128641-4112</span>
                    </div>
                  </div> 
                  <div class="flex flex-col gap-2">
                    <div class="font-roboto text-black leading-4 text-sm">
                      Agency Name 
                      <span class="block text-[#273B4A]">Manpower </span>
                    </div>
                    <div class="font-roboto text-black leading-4 text-sm">
                      
                    </div>
                    <div class="font-roboto text-black leading-4 text-sm">
                      Application No.
                      <span class="block text-[#273B4A]">#5234</span>
                    </div>
                  </div> 
                </div>
              </div>
            </ion-accordion>  
            <ion-accordion value="second" class="mb-2">
              <ion-item slot="header" color="light">
                <div class="flex w-full justify-between font-roboto items-center">
                  <div class="text-primary font-semibold text-sm leading-4 py-2">Complaint No. <strong>#4535</strong>
                    <strong class="block">XYZ</strong>
                    <small class="block">02-03-2024</small>
                    </div>
                  
                  <ion-button color="secondary" class="btn-def font-roboto capitalize text-[10px] !font-medium tracking-tight"
                    style="min-height: 23px;--padding-start: 0.5rem; --padding-end:0.5rem; --padding-top: 0.3rem; --padding-bottom: 0.3rem">
                    Under Review</ion-button>
                </div>
              </ion-item>
              <div class="ion-padding" slot="content">
                <div class="flex justify-between">
                  <div class="flex flex-col gap-2">
                    <div class="font-roboto text-black leading-4 text-sm">
                      Location
                      <span class="block text-[#273B4A]">Al-sad</span>
                    </div>
                    <div class="font-roboto text-black leading-4 text-sm">
                      Name of Worker 
                      <span class="block text-[#273B4A]">Rahul</span>
                    </div>
                    <div class="font-roboto text-black leading-4 text-sm">
                      VP No. 
                      <span class="block text-[#273B4A]">43128641-4112</span>
                    </div>
                  </div> 
                  <div class="flex flex-col gap-2">
                    <div class="font-roboto text-black leading-4 text-sm">
                      Agency Name 
                      <span class="block text-[#273B4A]">Manpower </span>
                    </div>
                    <div class="font-roboto text-black leading-4 text-sm">
                      
                    </div>
                    <div class="font-roboto text-black leading-4 text-sm">
                      Application No.
                      <span class="block text-[#273B4A]">#5234</span>
                    </div>
                  </div> 
                </div>
              </div>
            </ion-accordion>
            <ion-accordion value="third" class="mb-2">
              <ion-item slot="header" color="light">
                <div class="flex w-full justify-between font-roboto items-center">
                  <div class="text-primary font-semibold text-sm leading-4 py-2">Complaint No. <strong>#4535</strong>
                    <strong class="block">XYZ</strong>
                    <small class="block">02-03-2024</small>
                    </div>
                  
                  <ion-button color="secondary" class="btn-def font-roboto capitalize text-[10px] !font-medium tracking-tight"
                    style="min-height: 23px;--padding-start: 0.5rem; --padding-end:0.5rem; --padding-top: 0.3rem; --padding-bottom: 0.3rem">
                    Under Review</ion-button>
                </div>
              </ion-item>
              <div class="ion-padding" slot="content">
                <div class="flex justify-between">
                  <div class="flex flex-col gap-2">
                    <div class="font-roboto text-black leading-4 text-sm">
                      Location
                      <span class="block text-[#273B4A]">Al-sad</span>
                    </div>
                    <div class="font-roboto text-black leading-4 text-sm">
                      Name of Worker 
                      <span class="block text-[#273B4A]">Rahul</span>
                    </div>
                    <div class="font-roboto text-black leading-4 text-sm">
                      VP No. 
                      <span class="block text-[#273B4A]">43128641-4112</span>
                    </div>
                  </div> 
                  <div class="flex flex-col gap-2">
                    <div class="font-roboto text-black leading-4 text-sm">
                      Agency Name 
                      <span class="block text-[#273B4A]">Manpower </span>
                    </div>
                    <div class="font-roboto text-black leading-4 text-sm">
                      
                    </div>
                    <div class="font-roboto text-black leading-4 text-sm">
                      Application No.
                      <span class="block text-[#273B4A]">#5234</span>
                    </div>
                  </div> 
                </div>
              </div>
            </ion-accordion>
          </ion-accordion-group>
        </div>

        <!-- Resolved -->
        <div class="mt-6">
          <div class="text-center text-lg text-white bg-primary px-3 py-2 rounded-t-lg">Resolved Complaints</div>
          <ion-accordion-group>
            <ion-accordion value="first" class="mb-2">
              <ion-item slot="header" color="secondary">
                <div class="flex w-full justify-between font-roboto items-center">
                  <div class=" font-semibold text-sm leading-4 py-2">Complaint No. <strong>#4535</strong>
                    <strong class="block">XYZ</strong>
                    <small class="block">02-03-2024</small>
                    </div>
                  
                  <ion-button color="success" class="btn-def font-roboto capitalize text-[10px] !font-medium tracking-tight"
                    style="min-height: 23px;--padding-start: 1.25rem; --padding-end:1.25rem; --padding-top: 0.3rem; --padding-bottom: 0.3rem">
                    Resolved</ion-button>
                </div>
              </ion-item>
              <div class="ion-padding" slot="content">
                <div class="flex justify-between">
                  <div class="flex flex-col gap-2">
                    <div class="font-roboto text-black leading-4 text-sm">
                      Location
                      <span class="block text-[#273B4A]">Al-sad</span>
                    </div>
                    <div class="font-roboto text-black leading-4 text-sm">
                      Name of Worker 
                      <span class="block text-[#273B4A]">Rahul</span>
                    </div>
                    <div class="font-roboto text-black leading-4 text-sm">
                      VP No. 
                      <span class="block text-[#273B4A]">43128641-4112</span>
                    </div>
                  </div> 
                  <div class="flex flex-col gap-2">
                    <div class="font-roboto text-black leading-4 text-sm">
                      Agency Name 
                      <span class="block text-[#273B4A]">Manpower </span>
                    </div>
                    <div class="font-roboto text-black leading-4 text-sm">
                      
                    </div>
                    <div class="font-roboto text-black leading-4 text-sm">
                      Application No.
                      <span class="block text-[#273B4A]">#5234</span>
                    </div>
                  </div> 
                </div>
              </div>
            </ion-accordion>   
          </ion-accordion-group>
        </div>
    </div>
  </div>
</ion-content>